body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#map, #toc {
  height: 100%;
  display: inline-block;
  font-size: 18px;
}
#toc {
  padding-top: 1em;
  float: left;
  width: 25vw;
  overflow: auto;
}
#toc .nested-layer-control-container {
  padding-left: .5em;
}
#map {
  float: right;
  width: 75vw;
  padding-top: 0;
}
.layer-name {

}
.leaf input[type=checkbox] {
  cursor: pointer;
  zoom: 1.25;
  vertical-align: top;
  margin-top: 2px;
}
.enabled {
  color: limegreen;
}
.disabled {
  color: grey;
}
/*.leaf::after {
  content: '*';
}
.visible::after {
  color: red;
}
.invisible::after {
  display: none;
}
*/
