body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#map, #toc {
  height: 100%;
  display: inline-block;
  font-size: 18px;
}
#toc {
  padding-top: 1em;
  float: left;
  width: 25vw;
  overflow: auto;
}
#map {
  float: right;
  width: 75vw;
  padding-top: 0;
}

.branch, .symbology {
  list-style: none;
}

.leaf input[type=checkbox] {
  cursor: pointer;
  zoom: 1.25;
  vertical-align: top;
  margin-top: 2px;
}

/*.enabled .layer-name {
  text-decoration: none;
}
.disabled .layer-name {
  text-decoration: line-through;
}*/
.visible .layer-name {
  color: limegreen;
}
.invisible .layer-name {
  color: gray;
}

.collapsed > .layer-collapse-toggle .layer-collapse-icon-expand,
.expanded > .layer-collapse-toggle .layer-collapse-icon-collapse,
.has-no-children > .layer-collapse-toggle,
.collapsed > .layer-collapse-content {
  visibility: invisible;
  display: none;
}

.layer-collapse-toggle {
  display: inline-block;
  width: 1em;
  cursor: pointer;
}

.layer-collapse-icon-expand,
.layer-collapse-icon-collapse {

}

.symbology .swatch {
  vertical-align: text-top;
  padding-right: .24rem;
}

.layer-type {
  padding-left: 1.5rem;
  font-size: .75rem;
  color: lightgray;
}
/*.leaf::after {
  content: '*';
}
.visible::after {
  color: red;
}
.invisible::after {
  display: none;
}
*/
